@charset "UTF-8";
body {
    background-color: white;
}
header h1 {
    color: blue;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
fieldset {
    background-color: rgba(243, 243, 243, 0.685);
    border: none;
    border-radius: 5px;
}

main {
    background-color: gray;
    width: 230px;
    height: 300px;
    margin: auto;
    padding: 10px;
    border: 1em outset;
    border-radius: 10px;
    box-shadow: 15px 10px 20px black;
}

div#botao {
    display: block;
    padding: 10px;
    margin: auto;
}

.numero {
    width: 40px;
    height: 40px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);

}
.zero {
    width: 145px;
    height: 40px;
    margin: 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);
}
#enter {
    width: 40px;
    height: 135px;
    padding: 1px;
    position: relative;
    left: 160px;
    top: -188px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .6);
}
div#numero {
    width: 200px;
}
footer {
    margin: 30px;
    text-align: center;
}